@font-face {
	font-family: 'DelaGothic'; 
	src: url(./../font/DelaGothicOne-Regular.ttf); 
}
*{
    margin: 0;
    padding: 0;
    font-family: 'DelaGothic';
}
.all-document{
    background-image: url('./../img/background.png');
    background-repeat: repeat-y;
    background-size: 100% auto;
  }
  h1{
      font-size: 55px;
      padding-bottom: 20px;
  }
  h2{
      padding-bottom: 20px;
  }
  .button-mainpage{
    border-radius: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 10px;
    background-color: #ffcc01;
    border: none;
    -webkit-box-shadow: 0px 26px 16px 9px rgba(34, 60, 80, 0.19);
    -moz-box-shadow: 0px 26px 16px 9px rgba(34, 60, 80, 0.19);
    box-shadow: 0px 26px 16px 9px rgba(34, 60, 80, 0.19);
  }
  .button-mainpage:hover{
        cursor: pointer;
        color: #ffcc01;
        background-color: black;
  }