@font-face {
	font-family: 'DelaGothic'; 
	src: url(./../font/DelaGothicOne-Regular.ttf); 
}
*{
    margin: 0;
    padding: 0;
    font-family: 'DelaGothic';
}
body{
    background: url('./../img/background.jpg') repeat;
    background-repeat: repeat-y;
    background-size: 100% auto;
  }
  h1{
      font-size: 55px;
      padding-bottom: 20px;
  }
  h2{
      padding-bottom: 20px;
  }
  .body-main{
      display: flex;
      flex-direction: column;
  }