.body-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.body-first, .body-second, .body-thrid{
    height: 700px;
    width: 1280px;
    display: flex;
}
.body-first-text, .body-second-text{
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: flex-start;
    align-items: flex-start;
}
.body-first-img {
    width: 50%;
    background: url('./../img/stanok.png') no-repeat center;
}
.body-second-img{
    width: 50%;
    background: url('./../img/stanok\(1\).png') no-repeat center;
}
.body-thrid-img{
    width: 50%;
    background: url('./../img/stanok3.png') no-repeat center;
}
.body-second-text dd{
    margin-left: 2em;
}
.body-first-text-info{
    display: flex;
    flex-direction: column;
}
.body-first-text-info span{
    margin-top: 5px;
}
.info-ico{
    color: 'black';
    font-size: 20px;
    vertical-align: middle;
    padding-right: 5px;
}
.body-price-between{
    display: flex;
    width: 1280px;
    justify-content: space-between;
    margin-bottom: 20px;
}
.body-price-between-container{
    width: 355px;
    height: 360px;
    background-color: white;
    border-radius: 7px;
    -webkit-box-shadow: 0px 2px 33px 5px rgba(34, 60, 80, 0.19);
    -moz-box-shadow: 0px 2px 33px 5px rgba(34, 60, 80, 0.19);
    box-shadow: 0px 2px 33px 5px rgba(34, 60, 80, 0.19);
    display: flex;
    flex-direction: column;
    position: relative;
    
}
.body-price-between-container img{
    margin-top: 20px;
    max-width: 260px;
    max-height: 170px;
    align-self: center;
}
.body-price-between-name{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}
.body-price-between-discription > span{
    font-size: 14px;
    opacity: 0.7;
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}
.body-price-between-order{
    height: 55px;
    background-color: #3b3b2f;
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 0 0 7px 7px;
}
.body-second-send-form{
    height: 255px;
    width: 490px;
    margin-top: 30px;
}
.body-second-send-form-name{
    color: rgb(196, 196, 196);
    height: 0px;
    width: 270px;
    border-bottom: 40px solid black;    
    border-right: 30px solid transparent;
    text-align: center;    
}
.body-second-send-form-main{
    width: 100%;
    height: calc(100% - 40px);
    background-color: white;
    -webkit-box-shadow: 0px 2px 33px 5px rgba(34, 60, 80, 0.19);
    -moz-box-shadow: 0px 2px 33px 5px rgba(34, 60, 80, 0.19);
    box-shadow: 0px 2px 33px 5px rgba(34, 60, 80, 0.19);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.body-second-send-form-main-top, .body-second-send-form-main-bottom{
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.body-second-send-form-main-bottom input{
    height: 1em;
    padding: 10px;
    border: none;
    background-color: #dddddd;
    border-radius: 25px;
}