.homepage-first{
    display: flex;
    background:url('./../img/background.jpg')0 0/auto auto no-repeat;
}
.homepage-first-left{
    margin-top: 50px;
    padding-left: 70px;
    padding-right: 70px;
    width: 60%;
    height: calc(100vh - 50px);
    color: white;
}
.homepage-first-left-header{
    margin-top: 30px;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.homepage-first-left-header-logo{
    width: 50%;
    height: 100%;
    background:url('./../img/logo.png')0 0/auto auto no-repeat;
}
.homepage-first-left-middle{
    display: flex;
    flex-direction: column;
    padding: 15% 10% 15% 10%;
}
.homepage-first-left-middle :first-child{
    padding-bottom: 5%;
}
.homepage-first-right{
    width: 40%;
    margin-top: 50px;
    margin-bottom: 50px;

}
.homepage-first-left-footer{
    padding-left: 10%;
    color:#4282e3;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.homepage-about{
    width: 100%;
    height: 50vh;
    background-color: #eff5fa;
}

.homepage-about-container{
    display: flex;
    justify-content: space-between;
    margin: 14vh 10% 0 10%;
    width: 80%;
    height: calc(100% - 14vh);
}
.homepage-about-left{
    width: 40%;
}
.homepage-about-right{
    width: 50%;
}
.homepage-about h3{
    letter-spacing: 2px;
    width: 100%;
}
#homepage-about-right-button{
    display: inline-block;
    padding: 12px 28px 12px 28px;
    margin-top: 10%;
    border: 1px solid #4282e3;
    color: #4282e3;
    border-radius: 25px;
}
#homepage-about-right-button:hover{
    color: white;
    background-color: #4282e3;
    cursor: pointer;
}
.homepage-production{
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.homepage-production-container{
    display: flex;
    flex-direction: column;
    padding-top: 14vh;
    justify-content: center;
    align-items: center;
    width: 80%;
    color: white;
}
.homepage-production-container h4{
    color:white
}
.homepage-production-container h2{
    margin-top: -10px;
    padding-bottom: 60px;
}
.homepage-production-list{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.homepage-production-list-item{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 250px;
    height: 350px;
    margin-left: 10px;
    margin-right: 10px;
    -webkit-box-shadow: 0px 0px 9px -1px rgba(255, 255, 255, 0.22);
-moz-box-shadow: 0px 0px 9px -1px rgba(255, 255, 255, 0.22);
box-shadow: 0px 0px 9px -1px rgba(255, 255, 255, 0.22);
transition: box-shadow .3s;
}
.homepage-production-list-item:hover{
    -webkit-box-shadow: 0px 0px 19px -1px rgba(255, 255, 255, 0.22);
    -moz-box-shadow: 0px 0px 19px -1px rgba(255, 255, 255, 0.22);
    box-shadow: 0px 0px 19px -1px rgba(255, 255, 255, 0.22);

}
.circle{
width: 190px; 
height: 190px;
background: #eff5fa;
border-radius: 50%;
display: flex;
justify-content: center;
align-items: center;
}
.circle img{
    width: 65%;
}

/*---------------------------КОНТАКТЫ---------------------------*/
.homepage-contacts{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.homepage-contacts h2{
    margin-top: 120px;
    margin-bottom: 80px;
    color: white;
}
.homepage-contacts-container{
    background-color: #eff5fa;
    width: 80%;
    height:calc(100% - 350px);
    display: flex;
}
.homepage-contacts-container > *{
    width: 50%;
    height: 100%;
}
.homepage-contacts-left{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.homepage-contacts-left > *{
display: flex;
flex-direction: column;
padding-left: 40px;
padding-right: 20px;
}
.homepage-contacts-left > * > span {
        padding-top: 20px;
    }
